{
	"arrowParens": "avoid",
	"bracketSameLine": true,
	"bracketSpacing": true,
	"editorconfig": true,
	"endOfLine": "auto",
	"htmlWhitespaceSensitivity": "strict",
	"semi": true,
	"singleQuote": true,
	"tabWidth": 4,
	"trailingComma": "es5",
	"useTabs": true,
	"jsxSingleQuote": true
}
